html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*COUNTER*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

button {
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    font-size: 1rem;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#increment {
    background-color: green;
}

#decrement {
    background-color: red;
}

#reset {
    background-color: slategrey;
}

#stepInput {
    padding: 1rem;
}

#submitBtn {
    background-color: indianred;
}

#undo {
    background-color: skyblue;
}
